<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="nanbar-header">
            <a routerLink="/homepage" class="navbar-brand">New-serieses</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/ByGener">
                    ByGener</a></li>
                <li routerLinkActive="active"><a routerLink="/ByRating">
                    ByRating</a></li>
            </ul>
        </div>
    </div>
</nav>
