.navbar-inverse{
background-color: #337ab7;
border: #2e6da4;
}
.navbar-inverse .navbar-brand{
  color:#FFFFFF;
}
.navbar-inverse .navbar-nav>li>a{
  color:#FFFFFF;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: #2e6da4;
}
